*.o
*.cache
*.log
*.status
.deps
Makefile
OldMakefile
libtool
ddd.spec
ddd/configinfo.C
ddd/build.h
ddd/bld.h
ddd/config.h
ddd/host.h
ddd/root.h
ddd/version.h
ddd/vr.h
ddd/ddd
ddd/stringify
ddd/userinfo
ddd/vsl
ddd/ctest
ddd/cxxtest
ddd/cfg.texi
ddd/ddd.1
ddd/ddd.man
ddd/ddd.info.txt
ddd/ddd.info.txt.gz
ddd/USERINFO.txt
ddd/Ddd
ddd/Ddd.ad.h
ddd/stamp-h*
